<!-- ======= Intro Section ======= -->
<section class="intro">
  <swiper-container
    class="hero"
    slides-per-view="1"
    rewind="true"
    speed="600"
    pagination="true"
    pagination-clickable="true"
    autoplay-delay="4000"
    navigation="true">
    <swiper-slide>
      <div class="swiper-slide carousel-item-a intro-item bg-image"
           style="background-image:url('/assets/images/teams/active1.jpg')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Doral, Florida<br>78345</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">204 </span> Mount<br>Olive Road Two
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-slide carousel-item-a intro-item bg-image"
           style="background-image:url('/assets/images/teams/team.jpg')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Doral, Florida<br>78345</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">204 </span> Mount<br>Olive Road Two
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-slide carousel-item-a intro-item bg-image"
           style="background-image:url('/assets/images/teams/team2.jpg')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Doral, Florida<br>78345</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">204 </span> Mount<br>Olive Road Two
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-slide carousel-item-a intro-item bg-image"
           style="background-image:url('/assets/images/teams/active2.jpg')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Doral, Florida<br>78345</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">204 </span> Rino<br>Venda Road Five
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="swiper-slide carousel-item-a intro-item bg-image"
           style="background-image:url('/assets/images/teams/active3.jpg')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Doral, Florida<br>78345</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">204 </span> Alira<br>Roan Road One
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
<!-- End Intro Section -->

<!-- Start Portfolio -->
<div class="portfolio">
  <div class="container">
    <div class="main-heading">
      <h2>Portfolio</h2>
      <p>
        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
        tincidunt.
      </p>
    </div>
    <ul class="shuffle">
      <li class="active">All</li>
      <li>App</li>
      <li>Photo</li>
      <li>Web</li>
      <li>Print</li>
    </ul>
  </div>
  <div class="imgs-container">
    <div class="box">
      <img src="/assets/images/img/shuffle-01.jpg" alt=""/>
      <div class="caption">
        <h4>Awesome Image</h4>
        <p>Photography</p>
      </div>
    </div>
    <div class="box">
      <img src="/assets/images/img/shuffle-02.jpg" alt=""/>
      <div class="caption">
        <h4>Awesome Image</h4>
        <p>Photography</p>
      </div>
    </div>
    <div class="box">
      <img src="/assets/images/img/shuffle-03.jpg" alt=""/>
      <div class="caption">
        <h4>Awesome Image</h4>
        <p>Photography</p>
      </div>
    </div>
    <div class="box">
      <img src="/assets/images/img/shuffle-04.jpg" alt=""/>
      <div class="caption">
        <h4>Awesome Image</h4>
        <p>Photography</p>
      </div>
    </div>
    <div class="box">
      <img src="/assets/images/img/shuffle-05.jpg" alt=""/>
      <div class="caption">
        <h4>Awesome Image</h4>
        <p>Photography</p>
      </div>
    </div>
    <div class="box">
      <img src="/assets/images/img/shuffle-06.jpg" alt=""/>
      <div class="caption">
        <h4>Awesome Image</h4>
        <p>Photography</p>
      </div>
    </div>
    <div class="box">
      <img src="/assets/images/img/shuffle-07.jpg" alt=""/>
      <div class="caption">
        <h4>Awesome Image</h4>
        <p>Photography</p>
      </div>
    </div>
    <div class="box">
      <img src="/assets/images/img/shuffle-08.jpg" alt=""/>
      <div class="caption">
        <h4>Awesome Image</h4>
        <p>Photography</p>
      </div>
    </div>
  </div>
  <a href="#" class="more">More</a>
</div>
<!-- ======= Services Section ======= -->
<section class="section-services section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Our Services</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-cart"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Lifestyle</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
              convallis a pellentesque
              nec, egestas non nisi.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="#" class="link-c link-icon">
              <span class="bi bi-chevron-left"></span>
              Read more
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-calendar4-week"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Loans</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Mauris blandit
              aliquet elit, eget tincidunt
              nibh pulvinar a.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="#" class="link-c link-icon">
              <span class="bi bi-calendar4-week"></span>
              Read more
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-card-checklist"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Sell</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
              convallis a pellentesque
              nec, egestas non nisi.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="#" class="link-c link-icon">
              <span class="bi bi-chevron-left"></span>
              Read more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->

<!-- ======= Agents Section ======= -->
<section class="section-agents section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Best Agents</h2>
          </div>
          <div class="title-link">
            <a [routerLink]="'/about-us'">
              <span class="bi bi-chevron-left"></span>
              All Agents
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src="/assets/images/teams/Shahir%20Sadaq.jpg" alt="" class="img-d img-fluid">
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a [routerLink]="'/about-us'" class="link-two">شهير صداق
<!--                    <br> Escala-->
                  </a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                عضو لنعبده
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Phone: </strong> +54 356 945234
                </p>
                <p>
                  <strong>Email: </strong> agentsexample.com
                </p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="bi bi-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="bi bi-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="bi bi-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="bi bi-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src="/assets/images/teams/Nadera%20Nabil%20Ibrahim.jpg" alt="" class="img-d img-fluid">
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a routerLink="/about-us" class="link-two">
                    نادرة نبيل
                    <br> إبراهيم</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                مسبحة ومدربة أصوات
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Phone: </strong> +54 356 945234
                </p>
                <p>
                  <strong>Email: </strong> agentsexample.com
                </p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="bi bi-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="bi bi-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="bi bi-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="bi bi-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src="/assets/images/teams/team.jpg" alt="" class="img-d img-fluid">
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a [routerLink]="'/about-us'" class="link-two">Emma Toledo
                    <br> Cascada</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Phone: </strong> +54 356 945234
                </p>
                <p>
                  <strong>Email: </strong> agentsexample.com
                </p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="bi bi-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="bi bi-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="bi bi-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="bi bi-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Agents Section -->
<!-- Start Skills -->
<div class="our-skills">
  <div class="container">
    <div class="testimonials">
      <h3>Testimonials</h3>
      <p>
        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
        tincidunt.
      </p>
      <div class="content">
        <img src="/assets/images/img/skills-01.jpg" alt=""/>
        <div class="text">
          Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
          tincidunt.
          <p>John Doe, CEO</p>
        </div>
      </div>
      <div class="content">
        <img src="/assets/images/img/skills-02.jpg" alt=""/>
        <div class="text">
          Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
          tincidunt.
          <p>John Doe, CEO</p>
        </div>
      </div>
      <ul class="bullets">
        <li></li>
        <li class="active"></li>
        <li></li>
      </ul>
    </div>
    <div class="skills">
      <h3>Skills</h3>
      <p>
        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
        tincidunt.
      </p>
      <div class="prog-holder">
        <h4>Adobe</h4>
        <div class="prog">
          <span style="width: 90%" data-progress="90%"></span>
        </div>
      </div>
      <div class="prog-holder">
        <h4>Html &amp; Css</h4>
        <div class="prog">
          <span style="width: 85%" data-progress="85%"></span>
        </div>
      </div>
      <div class="prog-holder">
        <h4>JavaScript</h4>
        <div class="prog">
          <span style="width: 80%" data-progress="80%"></span>
        </div>
      </div>
      <div class="prog-holder">
        <h4>Php</h4>
        <div class="prog">
          <span style="width: 90%" data-progress="90%"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Skills -->
