/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.section-about .title-vertical {
  position: absolute;
  letter-spacing: 0;
  transform: rotate(90deg);
  top: 50px;
  font-size: 1.8rem;
  width: 300px;
  font-weight: 700;
  text-align: right;
}

.about-img-box {
  padding-right: 1rem;
  position: relative;
}

@media (min-width: 576px) {
  .about-img-box {
    padding-right: 4rem;
  }
}

@media (min-width: 768px) {
  .about-img-box {
    padding-right: 5rem;
  }
}
.img-d{
  height: 450px;
  width: 100%;
}
.sinse-box {
  background-color: var(--secondary-color);
  padding: 1rem 2rem;
  position: absolute;
  left: 15px;
  bottom: 10px;
}

@media (min-width: 576px) {
  .sinse-box {
    padding: 1.5rem 2.5rem;
    bottom: 20px;
  }
}

/*------/ Space Padding /------*/
.section-t8 {
  padding-top: 4rem;
}

@media (max-width: 767px) {
  .section-t8 {
    padding-top: 4rem !important;;
  }
}

@media (min-width: 768px) {
  .sinse-box {
    padding: .5rem 1rem;
  }
}

@media (min-width: 992px) {
  .sinse-box {
    padding: 1rem 2.5rem;
  }
}

.sinse-box .sinse-title {
  font-weight: 700;
  letter-spacing: 0.043em;
  font-size: 1rem;
}

@media (min-width: 576px) {
  .sinse-box .sinse-title {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .sinse-box .sinse-title {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .sinse-box .sinse-title {
    font-size: 2.2rem;
  }
}

.sinse-box .sinse-title span {
  position: absolute;
}

.sinse-box .sinse-title span:after {
  //content: " ";
  //width: 35px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: -15px;
}
.img-fluid{
  max-height: 500px;
  width: 100%;
}
.sinse-box p {
  margin-bottom: 0;
  font-size: 0.7rem;
}

@media (min-width: 576px) {
  .sinse-box p {
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) {
  .sinse-box p {
    font-size: 1rem;
  }
}

/*------/ Intro Single /------*/
.intro-single {
  padding: 3rem 0 3rem;
}

@media (max-width: 767px) {
  .intro-single {
    padding-top: 2rem !important;;
  }
}

.intro-single .title-single-box {
  padding: 1rem 2rem 1rem 0;
}

.intro-single .title-single-box {
  border-right: 3px solid var(--secondary-color);
}

.intro-single .title-single-box .title-single {
  font-weight: 600;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .intro-single .title-single-box .title-single {
    font-size: 2.1rem;
  }
}

@media (min-width: 992px) {
  .intro-single .title-single-box .title-single {
    font-size: 2.5rem;
  }
}

.intro-single .breadcrumb-box {
  padding: 1rem 0 0 0.5rem;
}

.intro-single .breadcrumb {
  background-color: transparent;
  padding-right: 0;
  padding-left: 0;
}
