
/* Start Stats */
.stats {
  margin-top: var(--section-padding);
  margin-bottom: var(--section-padding);
  text-align: center;
  background-image: url("/assets/images/img/stats.png");
  background-size: cover;
  position: relative;
}

.stats::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}

.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.stats .container .box {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}

@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

.stats .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}

.stats .container .box p {
  font-size: 14px;
}

/* End Stats */


/* Start Services */
.services {
  margin-top: var(--section-padding);
  margin-bottom: var(--section-padding);
}

@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}

.services .srv-box {
  display: flex;
}

.services .srv-box i {
  margin-left: 50px;
}

@media (max-width: 767px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px !important;;
  }

  .services .srv-box i {
    margin: 0 0 30px;
  }
}

.services .srv-box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}

.services .srv-box p {
  line-height: 2;
  color: #777;
}

/* End Services */


/* Start Video */
.video {
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.video video {
  width: 100%;
}

.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  text-align: center;
}

.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.video .text p {
  margin-bottom: 30px;
}

.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}

/* End Video */

/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  position: relative;
  background-image: url(/assets/images/img/design-features.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.design::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .image {
  text-align: center;
}

@media (max-width: 767px) {
  .design .image {
    display: none !important;;
  }
}

.design .image img {
  position: relative;
  bottom: -150px;
}

.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}

.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.design .text ul li {
  padding: 15px 0;
}

.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-left: 20px;
  position: relative;
  top: 1px;
}

/* End Design */
