
/*------/ Intro Single /------*/
.intro-single {
  padding: 3rem 0 3rem;
}

@media (max-width: 767px) {
  .intro-single {
    padding-top: 2rem !important;;
  }
}

.intro-single .title-single-box {
  padding: 1rem 2rem 1rem 0;
}

.intro-single .title-single-box {
  border-right: 3px solid var(--secondary-color);
}

.intro-single .title-single-box .title-single {
  font-weight: 600;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .intro-single .title-single-box .title-single {
    font-size: 2.1rem;
  }
}

@media (min-width: 992px) {
  .intro-single .title-single-box .title-single {
    font-size: 2.5rem;
  }
}

.intro-single .breadcrumb-box {
  padding: 1rem 0 0 0.5rem;
}

.intro-single .breadcrumb {
  background-color: transparent;
  padding-right: 0;
  padding-left: 0;
}

/*--------------------------------------------------------------
# Card General
--------------------------------------------------------------*/
@media (max-width: 767px) {

  .card-box-a,
  .card-box-b,
  .card-box-c,
  .card-box-d {
    margin-bottom: 2.5rem !important;;
  }
}

.card-box-a span,
.card-box-b span,
.card-box-c span,
.card-box-d span {
  line-height: 0;
}



.icon-box .icon-box-content {
  padding-top: 18px;
}

/*------/ Space Padding /------*/
.section-t8 {
  padding-top: 4rem;
}

@media (max-width: 767px) {
  .section-t8 {
    padding-top: 4rem !important;;
  }
}

.section-t4 {
  padding-top: 4rem;
}

@media (max-width: 767px) {
  .section-t4 {
    padding-top: 2rem !important;;
  }
}


/*======================================
//--//-->   BUTTON
======================================*/
.btn {
  transition: 0.5s ease;
}

.btn.btn-a,
.btn.btn-b {
  border-radius: 0;
  padding: 1rem 3rem;
  letter-spacing: 0.05rem;
}

.btn.btn-a {
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-a:hover {
  background-color: var(--secondary-color);
  color: #000000;
}

.btn.btn-b {
  background-color: var(--secondary-color);
  color: #000000;
}

.btn.btn-b:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-b-n {
  background-color: var(--secondary-color);
  color: #ffffff;
  border-radius: 0;
}


.socials-a .list-inline-item:not(:last-child) {
  margin-left: 25px !important;
}

.btn.btn-b-n:hover {
  background-color: #26a356;
  color: #ffffff;
}

.card-box-d .list-inline-item:not(:last-child) {
  margin-left: 25px;
}

.navbar-toggle-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 10px;
}

.navbar-toggle-box i {
  line-height: 0;
}
@media (max-width: 767px) {
  .section-md-t3 {
    padding-top: 3rem !important;;
  }
}

.section-b2 {
  display: flex;
  padding-bottom: 2rem;
}

/*------/ Icon Box /------*/
.icon-box .icon-box-icon {
  display: table-cell;
  vertical-align: top;
  font-size: 36px;
  color: #000000;
  width: 50px;
  padding-top: 8px;
}

.icon-box .icon-box-content {
  padding-top: 18px;
}
/*------/ Socials /------*/
.socials-a {
  text-decoration: none;
}

.list-inline-item:not(:last-child) {
  margin-right: 25px;
}
